@charset "UTF-8";
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

/* Общие стили */
.container {
  padding: 0 20px;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -moz-column-gap: normal;
       column-gap: normal;
  z-index: 6;
  background-color: #ffffff;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header img {
  width: 100px;
}

.menu__icon {
  display: none;
}

.menu__icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 6;
  cursor: pointer;
}

.menu__icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s;
}

.menu__icon span:first-child {
  top: 0;
}

.menu__icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu__icon.active span {
  transform: scale(0);
}

.menu__icon.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
  background-color: #fff;
}

.menu__icon.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  background-color: #fff;
}

.menu__body {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  width: 21%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s;
}
@media screen and (max-width: 376px) {
  .menu__body {
    width: 100%;
  }
}
@media screen and (min-width: 425px) {
  .menu__body {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .menu__body {
    width: 35%;
  }
}
@media screen and (min-width: 1024px) {
  .menu__body {
    width: 32%;
  }
}
@media screen and (min-width: 1400px) {
  .menu__body {
    width: 21%;
  }
}

@media screen and (max-width: 376px) {
  .menu__body.active {
    left: 0px;
  }
}
@media screen and (min-width: 425px) {
  .menu__body.active {
    left: 0px;
  }
}
@media screen and (min-width: 768px) {
  .menu__body.active {
    left: 511px;
  }
}
@media screen and (min-width: 800px) {
  .menu__body.active {
    left: 650px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__body.active {
    left: 720px;
  }
}
@media screen and (min-width: 1400px) {
  .menu__body.active {
    left: 1200px;
  }
}
.menu__list {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

.menu__list {
  font-size: 30px;
  font-weight: 800;
  flex-direction: column;
  padding: 50px;
  gap: 0;
  height: 104%;
  width: 101%;
  background-color: #000000;
  overflow: auto;
}

.menu__link {
  color: #fff;
  text-decoration: none;
  -moz-text-align-last: center;
       text-align-last: center;
}
.menu__link a {
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: none;
}

.menu__link {
  display: block;
  font-size: 30px;
  line-height: 70px;
  text-transform: uppercase;
}

.footer__wrap {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
@media (max-width: 376px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer__wrap img {
    display: none;
  }
}
@media (min-width: 425px) {
  .footer__wrap {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .footer__wrap img {
    display: none;
  }
}
@media (min-width: 768px) {
  .footer__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .footer__wrap img {
    display: block;
  }
}
@media (min-width: 1024px) {
  .footer__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .footer__wrap img {
    display: block;
  }
}
@media (min-width: 1400px) {
  .footer__wrap {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 200px;
  }
  .footer__wrap img {
    display: block;
  }
}
.footer__info {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 376px) {
  .footer__info {
    align-items: center;
  }
}
@media (min-width: 376px) {
  .footer__info {
    align-items: center;
  }
}
@media (min-width: 769px) {
  .footer__info {
    align-items: flex-start;
  }
}
.footer__info a {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
.footer__info ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__title {
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
}

.card {
  display: flex;
  justify-content: center;
}
.card__title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 700;
  color: #304041;
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .card__title {
    font-size: 22px;
  }
}
.card__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
}
.card__card {
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .card__card {
    gap: 50px;
    flex-direction: column;
  }
}
.card__description {
  font-size: 20px;
  font-weight: 500;
  width: 900px;
}
@media (min-width: 320px) {
  .card__description {
    width: 270px;
  }
}
@media (min-width: 375px) {
  .card__description {
    width: 332px;
  }
}
@media (min-width: 425px) {
  .card__description {
    width: 352px;
  }
}
@media (min-width: 768px) {
  .card__description {
    width: 700px;
  }
}
.card__img {
  display: flex;
  flex-direction: column;
}
.card__img img {
  width: 365px;
}
.card iframe {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}
@media (max-width: 376px) {
  .card iframe {
    width: 285px;
    height: 250px;
  }
}
@media (min-width: 376px) {
  .card iframe {
    width: 350px;
    height: 250px;
  }
}
@media (min-width: 425px) {
  .card iframe {
    width: 380px;
    height: 250px;
  }
}
@media (min-width: 768px) {
  .card iframe {
    width: 735px;
    height: 300px;
  }
}
@media (min-width: 1024px) {
  .card iframe {
    width: 900px;
    height: 300px;
  }
}
@media (min-width: 1400px) {
  .card iframe {
    width: 380px;
    height: 380px;
  }
}

.slider {
  border-radius: 20px;
  position: relative;
  width: 50%;
  margin: auto;
  overflow: hidden;
}
@media (max-width: 376px) {
  .slider {
    width: 100%;
  }
}
@media (min-width: 425px) {
  .slider {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .slider {
    width: 95%;
  }
}
@media (min-width: 1024px) {
  .slider {
    width: 95%;
    height: 550px;
  }
}
@media (min-width: 1400px) {
  .slider {
    width: 55%;
    height: 380px;
  }
}
.slider__slides {
  display: flex;
  transition: transform 0.5s ease;
}
.slider__slide {
  min-width: 100%;
  box-sizing: border-box;
}
.slider__slide img {
  width: 100%;
  height: auto;
}
.slider__prev {
  border-radius: 20px;
  left: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  border: none;
  padding: 25px 12px;
  cursor: pointer;
}
.slider__next {
  border-radius: 20px;
  right: 10px;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000;
  color: white;
  border: none;
  padding: 25px 12px;
  cursor: pointer;
}